In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("test_Y3wMUE5_7gLdaTN.txt")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               356 non-null object
Married              367 non-null object
Dependents           357 non-null object
Education            367 non-null object
Self_Employed        344 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [4]:
dataset.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [6]:
dataset['Dependents']=dataset['Dependents'].replace(np.nan,0)

In [7]:
dataset['Dependents'].isnull().sum()

0

In [8]:
dataset['Dependents']=dataset['Dependents'].replace("3+",3)

In [10]:
dataset['Self_Employed']=dataset['Self_Employed'].replace(np.nan,"No")

In [11]:
dataset['Self_Employed'].value_counts()

No     330
Yes     37
Name: Self_Employed, dtype: int64

In [13]:
dataset['LoanAmount']=dataset['LoanAmount'].replace(np.nan,dataset['LoanAmount'].mean())

In [16]:
dataset['Loan_Amount_Term']=dataset['Loan_Amount_Term'].replace(np.nan,360)

In [18]:
def part(x):
    if x=="Graduate":
        return 1
    else:
        return 0

In [19]:
dataset['Education']=dataset['Education'].map( part)

In [20]:
def part1(x1):
    if x1=="No":
        return 0
    else:
        return 1

In [21]:
dataset['Self_Employed']=dataset['Self_Employed'].map(part1)

In [26]:
X=dataset.iloc[:,[3,4,5,6,7,8,9,11]]

In [28]:
X.head()

,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Property_Area
0,0,1,0,5720,0,110.0,360.0,Urban
1,1,1,0,3076,1500,126.0,360.0,Urban
2,2,1,0,5000,1800,208.0,360.0,Urban
3,2,1,0,2340,2546,100.0,360.0,Urban
4,0,0,0,3276,0,78.0,360.0,Urban

In [29]:
X=X.values
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 7] = labelencoder_X.fit_transform(X[:, 7])
onehotencoder = OneHotEncoder(categorical_features = [7])
X = onehotencoder.fit_transform(X).toarray()

In [30]:
X.shape

(367, 10)

In [31]:
X=X[:,1:]

In [32]:
X.shape

(367, 9)

In [34]:
df=pd.DataFrame(X)

In [36]:
df.to_csv("test.csv")